$primary: #404eed;
:root {
  --font-headline: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.color {
  background: $primary !important;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

.w-88 {
  width: 88%;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.header-style {
  font-size: 14.5px;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.img1-2 {
  width: 2130px;
  position: absolute;
  top: 269px;
}

.Literally_Everything {
  width: 100vw;
  height: 100vh;

  &-First {
    background-color: $primary;
    background-image: url(../assets/Background1.svg);
    background-position: center;
    height: 626px;
    position: relative;

    &-Navbar {
      height: 80px;
      width: 1180px;

      &-Button {
        transition: box-shadow 0.3s !important;
        border-radius: 100px !important;
        width: 64px;
        height: 38px;
        font-size: 14px !important;
        font-weight: 500 !important;

        &:hover {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
          color: $primary !important;
        }
      }
    }
    &-Background1 {
      position: absolute;
    }

    &-Middle {
      width: 78%;
      height: 82%;
      margin-bottom: 32px;

      &-stuff {
        width: 60%;
        text-align: -webkit-center;

        &-Text {
          &-Big {
            font-weight: 800;
            text-rendering: geometricPrecision;
            font-size: 70px;
            line-height: 95%;
          }

          &-Small {
            line-height: 1.725;
            font-size: 19px;
            text-align: center;
            font-weight: 250;
            margin-top: 25px;
            margin-bottom: 35px;
            width: 80% !important;
          }
        }

        &-Buttons {
          gap: 31px;
          z-index: 10000;

          &-Download {
            min-width: 251px;
            border-radius: 100px !important;
            width: 251px;
            height: 56px;
            font-size: 19px !important;
            font-weight: 400 !important;

            &:hover {
              box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4) !important;
              color: $primary !important;
            }
          }

          &-Open {
            min-width: 315px;
            border-radius: 100px !important;
            width: 315px;
            height: 56px;
            font-size: 19px !important;
            font-weight: 500 !important;
            background-color: #23272a !important;
            color: white !important;

            &:hover {
              box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4) !important;
              opacity: 90%;
            }
          }
        }
      }
    }
  }

  &-loginBG {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/loginBG.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.greysh {
  width: 784px;
  height: 408px;
  background-color: #36393f;

  &-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-2 {
      width: 720px;
      height: 344px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      &-leftside {
        width: 414px;
        height: 342px;
        display: flex;
        flex-direction: column;
        gap: 11px;

        &-introduction {
          width: 414px;
          height: 58px;
          display: flex;
          flex-direction: column;

          &-title {
            display: flex;
            justify-content: center;
            color: #FFFFFF;
            font-weight: 600;
            margin-bottom: 8px;
            font-size: 24px;
            line-height: 30px;
          }

          &-subtitle {
            display: flex;
            justify-content: center;
            color: #B9BBBE;
            font-size: 16px;
            line-height: 20px;
          }
        }

        &-input {
          width: 414px;
          height: 64px;
          display: flex;
          flex-direction: column;
          margin-top: 9px;

          &-name {
            color: #B9BBBE;
            margin-bottom: 8px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;

          }

          &-input2 {
            border: 1px #0000001A solid;
            background-color: transparent;
            height: 40px;
            color: white;
            font-size: 16px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.16);
            text-align: left;
            padding: 10px;
          }
        }

        &-forgot{
          color: #00AFF4;
          font-size: 14px;
          margin-top: -7px;
          margin-bottom: 7px;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        &-button {
          width: 414px;
          height: 44px;
          background-color: #5865f2;
          color: white;
          font-size: 16px;
          margin-bottom: 8px;
          border: none;
          border-radius: 3px;
          font-weight: 500;
          transition: .17s ease;

          &:hover{
            background-color: #404EBF;
          }
        }

        &-register{
          margin-top: -11px;
          display: flex;
          flex-direction: row;
          gap: 4px;

          &-need {
            color: #72767D;
            font-size: 14px;
          }

          &-register2 {
            color: #00AFF4;
            font-size: 14px;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }

      &-rightside {
        width: 240px;
        height: 344px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.FooterContainer {
  width: 100%;
  height: 511px;
  background-color: #23272a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer {
  width: 1260px;
  height: 367px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  &-TopPart {
    width: 1260px;
    height: 296px;
    border-bottom: #5865f2 1px solid;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;

    &-SocialMedia {
      width: 280px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &-Imagine {
        color: #5865f2;
        font-weight: 800;
        text-rendering: geometricPrecision;
        font-size: 37px;
        line-height: 95%;
      }
    }

    &-ALot {
      width: 720px;
      height: 296px;
      display: flex;
      flex-direction: row;

      &-component {
        width: 180px;
        height: 296px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
          color: #5865f2;
          font-size: 16px;
        }

        &-content {
          color: white;
          font-size: 15px;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-BottomPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 71px;
    align-items: center;

    &-Button {
      min-width: 117px;
      border-radius: 100px !important;
      width: 117px;
      height: 40px;
      font-size: 14px !important;
      font-weight: 500 !important;
      background-color: #5865f2 !important;
      color: white !important;
    }
  }
}

.carouselImp {
  width: 50% !important;
  height: 50% !important;
}

.btn-secondary {
  background-color: #23272a !important;
  border-color: #23272a !important;
}

.carousel-stuff {
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control {
  &-prev,
  &-next {
    &-icon {
      background-color: black !important;
    }
  }
}

.carousel-indicators {
  background-color: black !important;
  bottom: -35px !important;
}

@import "~bootstrap/scss/bootstrap";