$primary: #404eed;
:root {
  --font-headline: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

html,body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

.w-88 {
  width: 88%;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.header-style {
  font-size: 14.5px;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.img1-2 {
  width: 2130px;
  position: absolute;
  top: 269px;
}

.Literally_Everything {
  width: 100vw;
  height: 100vh;
  

  &-First {
    background-color: $primary;
    background-image: url(../assets/Background1.svg);
    background-position: center;
    height: 626px;

    &-Navbar {
      height: 80px;
      width: 1180px;

      &-Button {
        transition: box-shadow 0.3s !important;
        border-radius: 100px !important;
        width: 64px;
        height: 38px;
        font-size: 14px !important;
        font-weight: 500 !important;

        &:hover {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
          color: $primary !important;
        }
      }
    }
    &-Background1 {
      position: absolute;
    }

    &-Middle {
      width: 78%;
      height: 82%;
      margin-bottom: 32px;

      &-stuff {
        width: 60%;
        text-align: -webkit-center;

        &-Text {
          &-Big {
            font-weight: 800;
            text-rendering: geometricPrecision;
            font-size: 70px;
            line-height: 95%;
          }

          &-Small {
            line-height: 1.725;
            font-size: 19px;
            text-align: center;
            font-weight: 250;
            margin-top: 25px;
            margin-bottom: 35px;
            width: 80% !important;
          }
        }

        &-Buttons {
          gap: 31px;
          z-index: 10000;

          &-Download {
            min-width: 251px ;
            border-radius: 100px !important;
            width: 251px;
            height: 56px;
            font-size: 19px !important;
            font-weight: 400 !important;

            &:hover {
              box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4) !important;
              color: $primary !important;
            }

          }

          &-Open {
            min-width: 315px;
            border-radius: 100px !important;
            width: 315px;
            height: 56px;
            font-size: 19px !important;
            font-weight: 500 !important;
            background-color: #23272A !important;
            color: white !important;

            &:hover {
              box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4) !important;
              opacity: 90%;
            }
          }
        }
      }
    }
  }
}

@import "~bootstrap/scss/bootstrap";
